/*	------------	header	------------	*/

.nav-drawer {
	padding: 40px 30px !important;
	color: #ffffff !important;;
	background-color: #313fa0 !important;;
	width: 70% !important;
}

.nav-drawer span {
	display: block !important;;
	font-size: 20px !important;;
	margin: 20px 0 !important;;
	font-weight: 500 !important;;
}

.btn-close {
	background-image: url("../assets/icons/close.svg") !important;
	width: 15px !important;
	height: 15px !important;
	padding: 0 !important;
	object-fit: contain;
	opacity: 1 !important;
}

/*	------------	header	------------	*/


/*	------------	main	------------	*/
/* ------  contact us section  ------  */
.contact-us-back {
	background-color: #00237d;
	border-radius: 100px 15px 15px 100px;
}

.contact-us-container {
	background-color: #f5f5f5;
	border-radius: 15px;
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px 20px 25px;
	margin-right: 10px;
}

.contact-us-description {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-size: 17px;
}

.contact-us-description i {
	height: fit-content;
	font-size: 24px;
	margin-left: 15px;
}

.social-container {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.social-item {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 10px;
	margin: 0 7px;
	width: 46px;
	height: 46px;
	font-size: 23px;
}

/* ------  contact us section  ------  */
/* ------  product types section  ------  */
.product-types-container {
	background-color: #f2f2f2;
	padding-top: 100px;
	padding-bottom: 100px;
}

.product-types-header {
	margin-bottom: 50px;
}

.product-types-title {
}

.type-container {
	position: relative;
	padding: 10px 40px !important;
	margin-top: 60px !important;
}

.type-body {
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: space-between;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 30px 45px 40px 35px;
}

.type-mark {
	position: absolute;
	border-radius: 20px;
	background-color: #01247e;
	color: #fff;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: -30px;
	right: 90px;
	font-weight: 900;
}

.type-mark-model {
	font-size: 15px;
	margin-top: 10px;
}

.type-mark-number {
	font-size: 38px;

}

.type-title-container {
	margin-bottom: 20px;
	text-align: right;
}

.type-title {
	font-weight: 700;
	font-size: 25px;
	color: #2d2d2d;
}

.type-description {
	margin-top: 20px;
	color: #444444;
	font-weight: 400;
	font-size: 15px;
}

.type-image-container, .type-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.type-image {
	width: 70px;
	margin-bottom: 20px;
}

.type-btn-details {
	background-color: #f4f2fc;
	color: #9e9fa5;
	border-radius: 7px;
	border: none;
	padding: 15px 20px;
	font-size: 15px;
}

.type-btn-details i {
	margin-right: 8px;
}

/* ------  product types section  ------  */
/* ------  intro video section  ------  */
.intro-video-header {
	margin: 100px 0;
}

.intro-video-control {
	border-radius: 20px;
	width: 100%;
}

/* ------  intro video section  ------  */
/* ------  components section  ------  */
.components-container {
	display: flex;
	flex-direction: column;
}

.components-description {
	color: #585858;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-align: justify;
	margin-top: 50px;
}

/* ------  components section  ------  */
/* ------  properties list section  ------  */
.properties-list-container {
	background-color: #f5f5f5;
	border-radius: 20px;
	padding: 50px 40px;
	margin-bottom: 150px;
}

.properties-list-control {
	margin-top: 50px;
}

.properties-list-item i {
	color: #313f9f;
	padding-left: 5px;
}

.properties-list-item {
	margin-right: 20px;
	margin-top: 30px;
	letter-spacing: 1px;
	font-weight: 700;
	color: #515151;
	list-style: none;
	font-size: 15px;
}

/* ------  properties list section  ------  */
/* ------  gallery section  ------  */
.gallery-container {
	align-items: center;
}

.gallery-header {

}

.gallery-body {
	display: flex;
	flex-direction: column;
}

.gallery-main-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 50px;
}

.gallery-main-image {
	border-radius: 20px;
	border: solid 2px #d9d9d9;
	object-fit: contain;
	width: 100%;
}

.gallery-zoom-image-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: 25px 0 0 25px;
	border-radius: 12px;
	color: #6d6d6d;
	padding: 15px;
	box-shadow: 4px 7px 10px 0 rgba(0, 0, 0, 0.05);
}

.gallery-zoom-image {
	width: 22px;
}

.gallery-little-images-container {
	align-items: center;
}

.gallery-little-images {
	width: 100%;
	height: 110px;
	padding: 0;
	border-radius: 18px;
	border: solid 1px #e6e6e6;
}

.gallery-little-images:focus {
	border: solid 2px #7e8fbd;
}

/* ------  gallery section  ------  */
/* ------  Q&A section  ------  */
.q-and-a-header {
	margin-bottom: 100px;
}

.q-and-a-question-container {
	margin-bottom: 30px;
	border-radius: 15px;
	background-color: #f3f4f5;
}

.q-and-a-question-header {
	border-radius: 15px;
	background-color: #f3f4f5;
	color: #001e7a;
	font-weight: 900;
	font-size: 18px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 20px 40px;
}

.q-and-a-question-body {
	padding: 30px 40px 60px 40px;
	font-weight: 600;
	font-size: 17px;
	line-height: 55px;
	background-color: #ffffff;
	border-radius: 0 0 15px 15px;
	color: #2a2a2a;
	box-shadow: 0 13px 21px 0 rgba(0, 0, 0, 0.07);
	margin-bottom: 100px;
}

.q-and-a-question-header i {
	margin-left: 40px;
}

/* ------  Q&A section  ------  */
/* ------  line - customer section  ------  */
.line-pic-container {
	position: relative;
	width: 100%;
	margin-top: 200px;
}

.line-customers-image {
	width: 240px;
	height: 240px;
	position: absolute;
	left: calc(100% / 2 - 110px);
	top: -155px;
	padding: 0 20px;
}

/* ------  line - customer section  ------  */
/* ------  comment section  ------  */
.comment-container {
	margin-top: 160px;
	margin-bottom: 100px;
}

.comment-header {
	margin-bottom: 80px;
}

.comment-body {

}

.comment-slide-header {
	background-color: #313f9f;
	color: #fff;
	font-weight: 600;
	border-radius: 4px 4px 1px 1px;
	padding: 15px 30px;
	font-size: 16px;
}

.comments-slide-body {
	background-color: #f5f5f5;
	color: #6e6e6e;
	border-radius: 0 0 5px 5px;
	padding: 25px 30px 50px 30px;
	font-weight: 500;
	line-height: 45px;
	font-size: 15px;
}

.carousel-indicators button {
	background-color: #303e9e !important;
	width: 20px !important;
}

/* ------  comment section  ------  */
/*	------------	main	------------	*/
/*	------------	footer	------------	*/
.footer-container {
	background-color: #d2d3d5;
	padding: 43px 180px;
	overflow: hidden !important;
}

.footer-col-container {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.footer-first-col {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: 50px 50px 50px 0;
}

.footer-second-col {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;
}

.footer-primary-title {
	font-size: 20px;
	font-weight: 700;
	color: #636363;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.footer-primary-title i {
	font-size: 27px;
	margin-left: 10px;
}

.footer-list {
	text-align: right;
}

.footer-list-item {
	font-weight: 500;
	margin-top: 20px;
	color: #565656;
	list-style: none;
	font-size: 15px;
}

.footer-list-item i {
	font-size: 7px;
	margin-left: 7px;
}

.footer-SEPAHKAR-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer-logo-container {
	color: #00217c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.footer-logo-header {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.footer-logo-image {
	width: 90px;
}

.footer-SEPAHKAR-en {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}

.footer-SEPAHKAR-fa {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0;
}

.footer-motto-container {
	text-align: center;
}

.footer-motto-fa {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: #090a0a;
}

.footer-motto-en {
	font-size: 15px;
	color: #5a5a5a;
	font-weight: 500;
}

.footer-details-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	color: #6b6969;
	font-weight: 700;
	text-align: start;
	padding: 0 30px;
}

.footer-details-item {
	margin-top: 20px;
	font-size: 13px;
	display: flex;
	align-items: start;
}

.footer-details-item i {
	font-size: 13px;
	margin-left: 7px;
	margin-top: 3px;
}

.footer-social-container {
	align-self: center;
	margin-top: 30px;
}

.footer-social-container i {
	color: #6a6969;
	padding: 1px;
	border-radius: 5px;
	border: solid 1px #6a6969;
	font-size: 15px;
	margin-right: 2px;
}

.copy-right-container {
	font-size: 15px;
	color: #090a0a;
	font-weight: 600;
	text-align: center;
	padding: 40px 0 60px 0;
}

/*	------------	footer	------------	*/
/*	------------	common	------------	*/
.primary-title {
	font-weight: 900;
	color: #2d2d2d;
	font-size: 28px;
}

.underline-word {
	width: 70px;
	height: 6px;
	margin-top: 20px;
	background-color: #00237d;
}

.body-thin-line {
	height: 1px;
	width: 100%;
	margin: 100px 0;
	background-color: #c6c6c6;
}

.body-thin-blue-line {
	height: 3px;
	background-color: #0a2b82;
	width: 100%;
	margin: 100px 0;
}

.body-thick-line {
	height: 7px;
	width: 100px;
	margin: 80px 0;
	background-color: #00237d;
}

.product-thin-line {
	height: 1px;
	width: 100%;
	margin-top: 100px;
	background-color: #f2f2f2;
}

.footer-separator-line {
	width: 100%;
	height: 12px;
	background-color: #01247e;
}

.footer-thin-line {
	height: 1px;
	width: 90%;
	background-color: #a1a1a1;
	margin: 30px 0;
	align-self: center;
}

.footer-vertical-line {
	width: 1px;
	background-color: #a1a1a1;
	height: 100%;
}

/*	------------	common	------------	*/

@media screen and (max-width: 1200px) {
	/*	------------	main	------------	*/
	/* ------  contact us section  ------  */
	.contact-us-container {
		padding: 13px 20px 13px 25px;
	}

	.contact-us-description {
		font-size: 16px;
	}

	.contact-us-description i {
		font-size: 22px;
		margin-left: 13px;
	}

	.social-container {
		padding: 13px;
	}

	.social-item {
		margin: 0 5px;
		width: 43px;
		height: 43px;
		font-size: 21px;
	}

	/* ------  contact us section  ------  */
	/* ------  product type section  ------  */
	.type-container {
		padding: 10px 30px !important;
	}

	.type-body {
		padding: 30px 30px 40px 25px;
	}

	.type-mark {
		width: 95px;
		height: 95px;
		top: -35px;
		right: 75px;
	}

	.type-mark-model {
		font-size: 13px;
	}

	.type-mark-number {
		font-size: 35px;
	}

	.type-title-container {
		margin-bottom: 15px;
	}

	.type-title {
		font-size: 22px;
	}

	.type-description {
		font-size: 13px;
	}

	.type-image {
		width: 65px;
	}

	.type-btn-details {
		padding: 13px 18px;
		font-size: 13px;
	}

	/* ------  product type section  ------  */
	/* ------  intro video section  ------  */
	.intro-video-header {
		margin: 90px 0;
	}

	/* ------  intro video section  ------  */
	/* ------  components section  ------  */
	.components-description {
		font-size: 19px;
		line-height: 50px;
	}

	/* ------  components section  ------  */
	/* ------  properties list section  ------  */
	.properties-list-container {
		margin-bottom: 140px;
	}

	.properties-list-control {
		margin-top: 45px;
	}

	.properties-list-item {
		margin-right: 15px;
		font-size: 14px;
	}

	/* ------  properties list section  ------  */
	/* ------  gallery section  ------  */
	.gallery-main-image-container {
		margin-bottom: 40px;
	}

	.gallery-zoom-image-container {
		padding: 12px;
	}

	.gallery-zoom-image {
		width: 20px;
	}

	.gallery-little-images {
		width: 100%;
		height: 80px;
	}

	/* ------  gallery section  ------  */
	/* ------  Q&A section  ------  */
	.q-and-a-header {
		margin-bottom: 90px;
	}

	.q-and-a-question-header {
		font-size: 17px;
		padding: 20px 35px;
	}

	.q-and-a-question-body {
		padding: 30px 35px 55px 35px;
		font-size: 15px;
		line-height: 50px;
	}

	.q-and-a-question-header i {
		margin-left: 35px;
	}

	/* ------  Q&A section  ------  */
	/*	------------	main	------------	*/
	/*	------------	footer	------------	*/
	.footer-container {
		padding: 43px 100px;
	}

	.footer-first-col {
		padding: 50px 30px 50px 0;
	}

	.footer-second-col {
		padding: 30px 0;
	}

	.footer-primary-title {
		margin-bottom: 20px;
	}

	.footer-primary-title i {
		font-size: 23px;
	}

	.footer-list-item {
		margin-top: 15px;
		font-size: 14px;
	}

	.footer-list-item i {
		font-size: 8px;
		margin-left: 7px;
	}

	.footer-logo-container {
		margin-bottom: 20px;
	}

	.footer-logo-header {
		margin-right: 15px;
	}

	.footer-logo-image {
		width: 80px;
	}

	.footer-SEPAHKAR-en {
		font-size: 15px;
	}

	.footer-SEPAHKAR-fa {
		font-size: 26px;
	}

	.footer-motto-fa {
		font-size: 15px;
	}

	.footer-motto-en {
		font-size: 13px;
	}

	.footer-details-item {
		margin-top: 17px;
		font-size: 11px;
	}

	.footer-details-item i {
		font-size: 13px;
		margin-left: 3px;
	}

	.copy-right-container {
		font-size: 13px;
		padding: 20px 0 40px 0;
	}

	/*	------------	footer	------------	*/
	/*	------------	common	------------	*/
	.primary-title {
		font-size: 26px;
	}

	/*	------------	common	------------	*/
}

@media screen and (max-width: 992px) {
	/*	------------	main	------------	*/
	/* ------  contact us section  ------  */
	.contact-us-container {
		padding: 13px 20px;
	}

	.contact-us-description {
		font-size: 14px;
	}

	.contact-us-description i {
		font-size: 20px;
		margin-left: 13px;
	}

	.social-container {
		padding: 9px;
	}

	.social-item {
		margin: 0 4px;
		width: 35px;
		height: 35px;
		font-size: 16px;
	}

	/* ------  contact us section  ------  */
	/* ------  product types section  ------  */
	.product-types-container {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.type-container {
		padding: 10px 45px !important;
		margin-top: 80px !important;
	}

	.type-body {
		padding: 30px 45px 40px 35px;
	}

	.type-mark {
		width: 100px;
		height: 100px;
		top: -30px;
		right: 90px;
	}

	.type-mark-model {
		font-size: 15px;
	}

	.type-mark-number {
		font-size: 38px;
	}

	.type-title-container {
		margin-bottom: 20px;
	}

	.type-title {
		font-size: 25px;
	}

	.type-description {
		font-size: 15px;
	}

	.type-image {
		width: 70px;
	}

	.type-btn-details {
		padding: 15px 20px;
		font-size: 15px;
	}

	.type-btn-details i {
		margin-right: 8px;
	}

	/* ------  product types section  ------  */
	/* ------  components section  ------  */
	.components-description {
		font-size: 17px;
		margin-top: 35px;
	}

	/* ------  components section  ------  */
	/* ------  properties list section  ------  */
	.properties-list-container {
		margin-bottom: 110px;
	}

	.properties-list-control {
		margin-top: 45px;
	}

	.properties-list-item {
		margin-right: 0;
		font-size: 15px;
	}

	.properties-list-item i {
		padding-left: 15px;
	}

	/* ------  properties list section  ------  */
	/* ------  gallery section  ------  */
	.gallery-main-image-container {
		margin-bottom: 30px;
	}

	.gallery-main-image {
		border: solid 3px #d1d1d1;
	}

	.gallery-zoom-image-container {
		margin: 15px 0 0 15px;
		padding: 10px;
	}

	.gallery-zoom-image {
		width: 18px;
	}

	.gallery-little-images {
		height: fit-content;
		padding: 0;
	}

	/* ------  gallery section  ------  */
	/* ------  Q&A section  ------  */
	.q-and-a-header {
		margin-bottom: 80px;
	}

	.q-and-a-question-header {
		font-size: 16px;
		padding: 20px 25px;
	}

	.q-and-a-question-body {
		padding: 30px 70px 50px 35px;
		font-size: 15px;
		line-height: 50px;
	}

	.q-and-a-question-header i {
		margin-left: 30px;
	}

	/* ------  Q&A section  ------  */
	/* ------  line - customer section  ------  */
	.line-pic-container {
		margin-top: 190px;
		margin-bottom: 150px;
	}

	.line-customers-image {
		width: 300px;
		height: 300px;
		position: absolute;
		left: calc(100% / 2 - 150px);
		top: -155px;
		padding: 0 20px;
	}

	/* ------  line - customer section  ------  */
	/* ------  comment section  ------  */
	.comment-container {
		margin-top: 100px;
	}

	.comment-header {
		display: none;
	}

	.comment-slide-header {
		font-size: 20px;
	}

	.comments-slide-body {
		padding: 25px 30px 70px 30px;
		line-height: 45px;
		font-size: 17px;
	}

	/* ------  comment section  ------  */
	/*	------------	main	------------	*/
	/*	------------	footer	------------	*/
	.footer-container {
		padding: 20px 100px;
	}

	.footer-primary-title {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.footer-primary-title i {
		font-size: 20px;
	}

	.footer-list-item {
		margin-top: 10px;
		font-size: 12px;
	}

	.footer-list-item i {
		font-size: 6px;
		margin-left: 5px;
	}

	.footer-logo-header {
		margin-right: 10px;
	}

	.footer-logo-image {
		width: 60px;
	}

	.footer-SEPAHKAR-en {
		font-size: 12px;
	}

	.footer-SEPAHKAR-fa {
		font-size: 20px;
	}

	.footer-motto-fa {
		font-size: 14px;
		letter-spacing: 1px;
		margin-bottom: 3px;
	}

	.footer-motto-en {
		font-size: 11px;
	}

	.footer-details-item {
		margin-top: 13px;
		font-size: 10px;
	}

	.footer-details-item i {
		font-size: 10px;
	}

	.footer-social-container i {
		padding: 1px;
		border-radius: 5px;
		border: solid 1px #6a6969;
		font-size: 12px;
	}

	.copy-right-container {
		font-size: 12px;
		padding: 20px 0 20px 0;
	}

	/*	------------	footer	------------	*/
	/*	------------	common	------------	*/
	.underline-word {
		height: 4px;
		width: 35px;
		margin-top: 10px;
	}

	.primary-title {
		font-size: 24px;
	}

	.body-thin-line {
		margin: 80px 0;
	}

	.body-thin-blue-line {
		margin: 80px 0;
	}

	/*	------------	common	------------	*/
}

@media screen and (max-width: 768px) {
	/*	------------	main	------------	*/
	/* ------  contact us section  ------  */
	.contact-us-container {
		padding: 13px 15px;
		border-radius: 10px;
		margin-right: 7px;
	}

	.contact-us-description {
		font-size: 13px;
	}

	.contact-us-description i {
		font-size: 18px;
		margin-left: 11px;
	}

	.contact-us-back {
		border-radius: 100px 20px 20px 100px;
	}

	.social-container {
		padding: 8px 5px;
	}

	.social-item {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

	/* ------  contact us section  ------  */
	/* ------  product types section  ------  */
	.product-types-header {
		margin-bottom: 10px;
	}

	.type-container {
		padding: 10px 30px !important;
		margin-top: 95px !important;
	}

	/* ------  product types section  ------  */
	/* ------  intro video section  ------  */
	.intro-video-header {
		margin: 70px 0;
	}

	/* ------  intro video section  ------  */
	/* ------  components section  ------  */
	.components-description {
		font-size: 15px;
		line-height: 40px;
		margin-top: 30px;
	}

	/* ------  components section  ------  */
	/* ------  properties list section  ------  */
	.properties-list-container {
		margin-bottom: 100px;
	}

	.properties-list-control {
		margin-top: 40px;
	}

	.properties-list-item {
		margin-right: -20px;
		font-size: 13px;
		margin-top: 20px;
	}

	.properties-list-item i {
		padding-left: 12px;
	}

	/* ------  properties list section  ------  */
	/* ------  gallery section  ------  */
	.gallery-main-image-container {
		margin-bottom: 20px;
	}

	.gallery-little-images-container .col-3 {
		padding: 0 5px;
	}

	.gallery-zoom-image {
		width: 15px;
	}

	/* ------  gallery section  ------  */
	/* ------  Q&A section  ------  */
	.q-and-a-header {
		margin-bottom: 70px;
	}

	.q-and-a-question-header {
		font-size: 15px;
		padding: 20px;
	}

	.q-and-a-question-body {
		padding: 30px 60px 50px 35px;
		font-size: 14px;
		line-height: 45px;
	}

	.q-and-a-question-header i {
		margin-left: 25px;
	}

	/* ------  Q&A section  ------  */
	/*	------------	main	------------	*/
	/*	------------	footer	------------	*/
	.footer-container {
		padding: 20px 50px;
	}

	.footer-primary-title {
		font-size: 14px;
	}

	.footer-primary-title i {
		font-size: 18px;
	}

	.footer-list-item {
		margin-top: 10px;
		font-size: 11px;
		margin-right: -20px;
	}

	.footer-logo-image {
		width: 50px;
	}

	.footer-SEPAHKAR-en {
		font-size: 10px;
	}

	.footer-SEPAHKAR-fa {
		font-size: 17px;
	}

	.footer-motto-fa {
		font-size: 12px;
		letter-spacing: normal;
	}

	.footer-motto-en {
		font-size: 8px;
	}

	.footer-details-container {
		padding: 0 20px;
	}

	.footer-details-item {
		margin-top: 10px;
		font-size: 9px;
	}

	.footer-details-item i {
		font-size: 10px;
		margin-left: 5px;
	}

	/*	------------	footer	------------	*/
	/*	------------	common	------------	*/
	.underline-word {
		height: 4px;
		width: 27px;
		margin-top: 6px;
	}

	.primary-title {
		font-size: 20px;
	}

	/*	------------	common	------------	*/
}

@media screen and (max-width: 576px) {
	/*	------------	header	------------	*/
	.nav-drawer span {
		font-size: 16px !important;;
	}

	/*	------------	header	------------	*/
	/*	------------	main	------------	*/
	/* ------  contact us section  ------  */
	.contact-us-container {
		padding: 20px 15px;
		position: relative;
		min-height: 140px;
		align-items: start;
		border-radius: 8px 8px;
	}

	.contact-us-back {
		border-radius: 100px 10px 10px 100px;
	}

	.contact-us-description {
		flex-direction: row-reverse;
		align-items: start;
		justify-content: space-between;
		padding: 0;
		width: 100%;
		line-height: 40px;
	}

	.contact-us-description i {
		margin-right: 20px;
		margin-left: 0;
		line-height: 40px;
	}

	.social-container {
		padding: 0 5px;
		position: absolute;
		height: 55px;
		font-size: 25px;
		top: calc(100% - 70px);
		right: calc(100% - 130px);
	}

	.social-item {
		margin: 0 4px;
		width: 36px;
		height: 36px;
		font-size: 14px;
	}

	/* ------  contact us section  ------  */
	/* ------  product type section  ------  */
	.product-types-container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.product-types-header {
		margin-bottom: 0;
	}

	.type-container {
		padding: 0 !important;
		margin-top: 90px !important;
	}

	.type-body {
		border-radius: 30px;
		padding: 20px 30px 30px 25px;
	}

	.type-mark {
		border-radius: 30px;
		height: 90px;
		width: 90px;
		top: -40px;
		right: 40px;
	}

	.type-mark-model {
		font-size: 13px;
	}

	.type-mark-number {
		font-size: 32px;
	}

	.type-title-container {
		margin-bottom: 10px;
	}

	.type-title {
		font-size: 20px;
	}

	.type-description {
		margin-top: 10px;
		font-size: 13px;
	}

	.type-image {
		width: 60px;
		margin-bottom: 15px;
	}

	.type-btn-details {
		padding: 10px 20px;
		font-size: 12px;
	}

	.type-btn-details i {
		margin-right: 5px;
	}

	/* ------  product type section  ------  */
	/* ------  intro video section  ------  */
	.intro-video-header {
		margin: 50px 0;
	}

	/* ------  intro video section  ------  */
	/* ------  components section  ------  */
	.components-description {
		font-size: 13px;
		font-weight: 500;
		line-height: 30px;
		margin-top: 40px;
	}

	/* ------  components section  ------  */
	/* ------  properties list section  ------  */
	.properties-list-container {
		background-color: #ffffff;
		margin-bottom: 0;
		border-radius: 0;
		padding: 0;
	}

	.properties-list-control {
		margin-top: 25px;
		background-color: #f5f5f5;
		border-radius: 20px;
		padding: 1px 30px 21px 30px;
	}

	.properties-list-item i {
		padding-left: 5px;
		font-size: 10px;
	}

	.properties-list-item {
		margin-right: -10px;
		margin-top: 20px;
		font-size: 13px;
	}

	/* ------  properties list section  ------  */
	/* ------  gallery section  ------  */
	.gallery-container {
		align-items: center;
	}

	.gallery-header {
		margin-bottom: 40px;
	}

	.gallery-main-image-container {
		margin-bottom: 30px;
	}

	.gallery-main-image {
		border: solid 2px #d9d9d9;
	}

	.gallery-zoom-image-container {
		margin: 15px 0 0 15px;
		padding: 15px;
	}

	.gallery-zoom-image {
		width: 22px;
	}

	/* ------  gallery section  ------  */
	/* ------  Q&A section  ------  */
	.q-and-a-header {
		margin-bottom: 50px;
	}

	.q-and-a-question-header {
		font-size: 15px;
		padding: 15px 20px;
	}

	.q-and-a-question-container {
		margin-bottom: 20px;
	}

	.q-and-a-question-header i {
		margin-left: 10px;
	}

	.q-and-a-question-body {
		padding: 25px 20px 40px 20px;
		font-size: 12px;
		line-height: 35px;
		margin-bottom: 50px;
	}

	/* ------  Q&A section  ------  */
	/* ------  Q&line - customer section  ------  */
	.line-pic-container {
		width: 100%;
		margin-top: 0;
		padding: 0 50px;
		margin-bottom: 0;
	}

	.line-customers-image {
		display: none;
	}

	/* ------  Q&line - customer section  ------  */
	/* ------  comment section  ------  */
	.comment-container {
		margin-top: 0;
	}

	.comment-header {
		margin-bottom: 50px;
		display: block;
	}

	.comment-body {

	}

	.comment-slide-header {
		padding: 15px 30px;
		font-size: 16px;
	}

	.comments-slide-body {
		padding: 25px 30px 150px 30px;
		font-weight: 600;
		line-height: 50px;
		font-size: 15px;
	}

	/* ------  comment section  ------  */
	/*	------------	main	------------	*/
	/*	------------	footer	------------	*/
	.footer-container {
		padding: 35px 50px;
	}

	.footer-col-container {
		padding: 0;
	}

	.footer-first-col {
		align-items: start;
		justify-content: center;
		padding: 0;
	}

	.footer-second-col {
		padding: 0;
	}

	.footer-primary-title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.footer-primary-title i {
		font-size: 23px;
	}

	.footer-list-item {
		margin-top: 15px;
		font-size: 15px;
		margin-right: 0;
	}

	.footer-list-item i {
		font-size: 10px;
		margin-left: 10px;
	}

	.footer-logo-container {
		margin-bottom: 30px;
	}

	.footer-logo-header {
		margin-right: 15px;
	}

	.footer-logo-image {
		width: 90px;
	}

	.footer-SEPAHKAR-en {
		font-size: 18px;
		font-weight: 500;
	}

	.footer-SEPAHKAR-fa {
		font-size: 30px;
		letter-spacing: 2px;
	}

	.footer-motto-fa {
		font-size: 19px;
		letter-spacing: normal;
		margin-bottom: 10px;
	}

	.footer-motto-en {
		font-size: 12px;
	}

	.footer-details-container {
		padding: 0;
	}

	.footer-details-item {
		margin-top: 20px;
		font-size: 15px;
	}

	.footer-details-item i {
		font-size: 14px;
		margin-left: 6px;
	}

	.footer-social-container {
		margin-top: 30px;
	}

	.footer-social-container i {
		font-size: 17px;
		margin-right: 5px;
	}

	.copy-right-container {
		font-size: 13px;
		color: #818181;
		padding: 30px 0;
	}

	.copy-right-container span {
		color: #01247e;
		font-weight: 900;
		font-size: 15px;
		margin: 0 5px;
	}

	/*	------------	footer	------------	*/
	/*	------------	common	------------	*/
	.underline-word {
		height: 4px;
		width: 40px;
		margin-top: 10px;
		background-color: #00237d;
	}

	.primary-title {
		font-size: 20px;
	}

	.body-thin-line, .body-thin-blue-line {
		margin: 50px 0;
	}

	.body-thick-line {
		height: 5px;
		width: 60px;
		margin: 50px 0;
		align-self: center;
	}

	.product-thin-line {
		margin-top: 50px;
	}

	.footer-separator-line {
		width: 100%;
		height: 12px;
		background-color: #01247e;
	}

	.footer-thin-line {
		width: 100%;
		margin: 30px 0;
	}

	.footer-vertical-line {
		display: none;
	}

	/*	------------	common	------------	*/
}

@media screen and (max-width: 400px) {
	/*	------------	header	------------	*/
	.nav-drawer span {
		font-size: 12px !important;
	}

	.btn-close{
		width: 10px !important;
		height: 10px !important;
	}

	/*	------------	header	------------	*/
	/*	------------	main	------------	*/
	/* ------  contact us section  ------  */
	.contact-us-container {
		padding: 10px 20px;
		min-height: 110px;
	}

	.contact-us-description {
		font-size: 10px;
		line-height: 35px;
	}

	.contact-us-description i {
		margin-right: 20px;
		margin-left: 0;
		line-height: 35px;
		font-size: 15px;
	}

	.social-container {
		padding: 0 3px;
		position: absolute;
		height: 40px;
		top: calc(100% - 50px);
		right: calc(100% - 90px);
	}

	.social-item {
		margin: 0 3px;
		border-radius: 6px;
		width: 25px;
		height: 25px;
		font-size: 11px;
	}

	/* ------  contact us section  ------  */
	/* ------  product type section  ------  */
	.type-container {
		margin-top: 60px !important;
	}

	.type-body {
		padding: 10px 20px 20px 15px;
		border-radius: 15px;
	}

	.type-mark {
		height: 65px;
		width: 65px;
		top: -30px;
		border-radius: 20px;
	}

	.type-mark-model {
		font-size: 9px;
	}

	.type-mark-number {
		font-size: 20px;
	}

	.type-title-container {
		align-items: start;
	}

	.type-title {
		font-size: 14px;
		margin: 0;
	}

	.type-description {
		font-size: 10px;
	}

	.type-image {
		width: 40px;
	}

	.type-btn-details {
		padding: 7px 10px;
		font-size: 8px;
	}

	/* ------  product type section  ------  */
	/* ------  intro video section  ------  */
	.intro-video-header {
		margin: 40px 0;
	}

	/* ------  intro video section  ------  */
	/* ------  component section  ------  */
	.components-description {
		font-size: 10px;
		line-height: 25px;
		margin-top: 0;
		margin-bottom: 0;
	}

	/* ------  component section  ------  */
	/* ------  properties list section  ------  */
	.properties-list-control {
		margin-top: 20px;
		padding: 10px 30px;
	}

	.properties-list-item i {
		padding-left: 4px;
		font-size: 6px;
	}

	.properties-list-item {
		margin-right: -10px;
		margin-top: 5px;
		font-size: 9px;
	}

	/* ------  properties list section  ------  */
	/* ------  gallery section  ------  */
	.gallery-header {
		margin-bottom: 20px;
	}

	.gallery-main-image-container {
		margin-bottom: 20px;
	}

	.gallery-zoom-image-container {
		padding: 12px;
	}

	.gallery-zoom-image {
		width: 16px;
	}

	/* ------  gallery section  ------  */
	/* ------  Q&A section  ------  */
	.q-and-a-header {
		margin-bottom: 40px;
	}

	.q-and-a-question-header {
		font-size: 12px;
	}

	.q-and-a-question-body {
		padding: 25px 20px 30px 20px;
		font-size: 10px;
		line-height: 30px;
		margin-bottom: 40px;
	}

	/* ------  Q&A section  ------  */
	/* ------  comment section  ------  */
	.comment-header {
		margin-bottom: 30px;
	}

	.comment-slide-header {
		padding: 10px 15px;
		font-size: 12px;
	}

	.comments-slide-body {
		padding: 15px 20px 100px 20px;
		font-weight: 600;
		line-height: 26px;
		font-size: 10px;
	}

	/* ------  comment section  ------  */
	/*	------------	main	------------	*/
	/*	------------	footer	------------	*/
	.footer-container {
		padding: 30px 30px;
	}

	.footer-primary-title {
		font-size: 14px;
		margin-bottom: 0;
	}

	.footer-primary-title i {
		font-size: 20px;
	}

	.footer-list-item {
		margin-top: 10px;
		font-size: 11px;
	}

	.footer-list-item i {
		font-size: 6px;
		margin-left: 5px;
	}

	.footer-logo-container {
		margin-bottom: 20px;
	}

	.footer-logo-header {
		margin-right: 10px;
	}

	.footer-logo-image {
		width: 60px;
	}

	.footer-SEPAHKAR-en {
		font-size: 14px;
	}

	.footer-SEPAHKAR-fa {
		font-size: 23px;
	}

	.footer-motto-fa {
		font-size: 15px;
		margin-bottom: 0;
	}

	.footer-motto-en {
		font-size: 10px;
	}

	.footer-details-item {
		margin-top: 10px;
		font-size: 10px;
	}

	.footer-details-item i {
		font-size: 10px;
		margin-left: 5px;
	}

	.footer-social-container {
		margin-top: 20px;
	}

	.footer-social-container i {
		font-size: 14px;
		margin-right: 3px;
	}

	.copy-right-container {
		font-size: 10px;
		padding: 20px 0;
	}

	.copy-right-container span {
		font-size: 12px;
	}

	/*	------------	footer	------------	*/
	/*	------------	common	------------	*/
	.underline-word {
		height: 3px;
		width: 30px;
		margin-top: 8px;
	}

	.primary-title {
		font-size: 14px;
	}

	.body-thin-line, .body-thin-blue-line {
		margin: 40px 0;
	}

	.body-thick-line {
		height: 4px;
		width: 50px;
		margin: 40px 0;
	}

	.footer-separator-line {
		height: 8px;
	}

	.footer-thin-line {
		margin: 20px 0;
	}

	/*	------------	common	------------	*/
}